mixin service(modifyer, title, text)
  div(class="service service--"+modifyer)
    h2.service__heading= title
    p.service__text= text
    
mixin step(i, title, text)
  .step
    h2.step__num 0#{i}
      case i
        when 1: span.step__caption One
        when 2: span.step__caption Two
        when 3: span.step__caption Three
        when 4: span.step__caption Four
        when 5: span.step__caption Five
    h3.step__heading= title
    p.step__text= text
  
mixin plan(name, price, space, resps, users, ftp, email, support, other, other2)
  .plan
    h2.plan__name #{name}
    h3.plan__price
      small $
      | #{price}
    p.plan__details
      strong #{space}GB 
      | of storage
      br
      strong #{resps} 
      | respirators
      br
      strong #{users} 
      | users
      br
      strong #{ftp} FTP 
      | accounts
      br
      strong #{email} 
      | email accounts
      br
      strong #{support} 
      | support
      br
      | #{other}
      br
      | #{other2}
    a.link-order order now

mixin post(day, month, num, heading)
  .post
    .post__thumb
      img(src="img/content/blog-thumb-"+num+".jpg")
    .post-details
      .post__date
        h2 #{day}
        small #{month}
      .post__heading
        h3 #{heading}
        a.link-blog(href="#") read now

mixin comment(author, heading, text)
  case author
    when 'saoirse'
      - var img = 1
      - var name = 'Saoirse Ronan'
    when 'emma'
      - var img = 2
      - var name = 'Emma Watson'
  .feedback-comment
    .feedback-comment__avatar.f-l
      img(src="img/content/feedback-avatar-"+img+".jpg")
    .feedback-comment-details
      h2.feedback-comment__heading #{heading}
      blockquote.feedback-comment__text "#{text}"
      cite.feedback-comment__author - #{name}
